<section>
<h1>Burgers Ready to Eat</h1>

<ul>
{{#each burgers}}
    {{#unless eaten}}
      {{> /partials devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</section>

<section>
<h1>Burgers Eaten</h1>

<ul>
{{#each burgers}}
    {{#if eaten}}
      {{> /partials devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</section>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>