<section>
<h1>Burgers Ready to Eat</h1>

<ul>
{{#each ready }}
  <li>{{burgers}}
    <br>
    <button>Devour!</button>
  </li>
{{/each}}
</ul>
</section>

<section>
<h1>Burgers Eaten</h1>

<ul>
{{#each eaten }}
  <li>{{burgers}}
  </li>
{{/each}}
</ul>
</section>